<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/navbar.css" />

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="~/Content/navbar.css" />

    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="...">
                    </a>
                </div>
            </div>
        </nav>

        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">О нас <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Контакты", "Contacts", "About")</li>
                                <li>@Html.ActionLink("Схема проезда", "ShemeWay", "About")</li>
                                <li>@Html.ActionLink("Наши сотрудники", "Employeers", "About")</li>
                                <li>@Html.ActionLink("Оказываемая мед. помощь", "MedCare", "About")</li>
                                <li>@Html.ActionLink("Вакансии", "Vacancy", "About")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Режим работы <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Режим работы больницы", "WorkMode", "Work")
                                <li>@Html.ActionLink("Участковая служба", "DistrictService", "Work")
                                <li>@Html.ActionLink("Узкие специалисты", "Specialists", "Work")
                                <li>@Html.ActionLink("Стоматология", "Dentists", "Work")
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Запись на приём <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Портал пациента", "PortalPatient", "Appointment")
                                <li>@Html.ActionLink("Порядок записи", "OrderRecords", "Appointment")
                                <li>@Html.ActionLink("Участки обслуживания", "PlotService", "Appointment")
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Стационар <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Правила госпитализации", "HospitalsRules", "Hospital")
                                <li>@Html.ActionLink("Отделение сестринского ухода", "Nursing", "Hospital")
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Правовая информация <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Права и обязанности граждан", "Duties", "Information")
                                <li>@Html.ActionLink("Программа гос. гарантий", "Guarantee", "Information")
                                <li>@Html.ActionLink("Стандарты мед. помощи", "MedicalStandarts", "Information")
                                <li>@Html.ActionLink("Обязательное мед.страхование", "OMS", "Information")
                                <li>@Html.ActionLink("Прикрепление к мед. организации", "Attaching", "Information")
                                <li>@Html.ActionLink("Льготное лекарственное обеспечение", "Exemption", "Information")
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Обратная связь <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Приём граждан с обращениями", "Reception", "Feedback")</li>
                                <li>@Html.ActionLink("Обратиться к администрации", "Administration", "Feedback")</li>
                                @*<li>@Html.ActionLink("Задать вопрос", "Reception", "Feedback")</li>
                                <li>@Html.ActionLink("Оставить отзыв", "Reception", "Feedback")</li>
                                <li>@Html.ActionLink("Анкета по оценке работы", "Reception", "Feedback")</li>*@
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <!-- Placeholder for custom page -->
        <div>
            @RenderBody()
        </div>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="../assets/js/docs.min.js"></script>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <p class="text-center text-muted">&#169 @DateTime.Now.Year - Magic Computers</p>
            </div>
        </footer>
    </div>
</body>
</html>
